<a href="https://colab.research.google.com/github/OlhaZahrebelna/my_practis_on_github/blob/main/Zahrebelna_Olga_%22Additional_hw_3_Functions%2C_list_comprehensions%2C_classes_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В цьому наборі завдань попрацюємо з фукнціями, класами та list comprehensions.
Нагадую синтаксис list comprehension
- з умовою if:
```
newlist = [expression for item in iterable if condition == True]
```

- з умовою if...else:
```
newlist = [expression if condition == True else second_expression for item in iterable ]
```

1.Задана функція `strange_func`.
Запустіть цю функцію на обчислення всіх елементів зі списку `input_list`. Результат обчислень запишіть у `output_list` та виведіть `output_list` на екран.

Реалізуйте прохід всіх елементів списку `input_list` через цикл та через `list comprehension` - двома способами окремо.

In [1]:
def strange_func(number: int) -> str:
    if number < 0:
        return "слон"
    else:
        return "жираф"

In [2]:
input_list = [14, -48, 26, 33, 50, 36, 47, -3, 32, -6, -39, -1, 14, -35, 31, -28, 32, 4, 33, 11, -7, 43, -5, 17, -33, -37, 45, -27, -29, 14]

In [9]:
output_list = ["слон" if x < 0 else "жираф" for x in input_list ]
print(output_list)

['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']

In [14]:
output_list_1 = []
for x in input_list:
    list_str = strange_func(x)
    output_list_1.append(list_str)
print(output_list_1)

['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']

Очікуваний результат: ```['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']```

2.Напишіть функцію `custom_func`, яка приймає на вхід число, перевіряє, чи воно є цілочислельного типу, і якщо так, то перевіряє число на парність:
- якщо парне - вертає це число в степені 3,
- а якщо непарне - це число мінус 10.  

Якщо ж число на вході не цілочисельного типу, функція вертає 0.  

Запустіть цю функцію на обчислення всіх чисел зі списку `input_list`. Результат обчислень запишіть у `output_list` та виведіть `output_list` на екран.

Реалізуйте прохід всіх чисел списку `input_list` через цикл та через `list comprehension` - двома способами окремо.

In [29]:
input_list = [36, 11.1, 91, 93, 26, 12.3213, 69, 50, 58, 22, 77, 18, 24, 55, 11, 76, 10.111, 39, 49, 94, 34, 40, 13, 111.111, 26, 44, 11, 34, 30, 39, 84, 37, 16, 1]

In [30]:
def custom_func(num:int)  -> int:
    if type(num) == int:
      if num % 2 == 0:
        return num ** 3
      else:
        return num - 10
    else:
      return 0

In [31]:
output_list = [custom_func(x) for x in input_list]
print(output_list)

[46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]

Очікуваний результат:
```[46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]```

In [32]:
for r in input_list:
    print(custom_func(r))

46656
0
81
83
17576
0
59
125000
195112
10648
67
5832
13824
45
1
438976
0
29
39
830584
39304
64000
3
0
17576
85184
1
39304
27000
29
592704
27
4096
-9

Аби програмно порівняти ваш результат за очікуваним - використайте код нижче:

In [33]:
output_list == [46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]

True

3.Напишіть функцію, яка отримує список чисел і повертає інший список із квадратами чисел, які діляться на 2 із вихідного списку. Наприклад, якщо на вході список [1,2,3,4], то на виході буде список [4,8].

Запустіть функцію на вхідних списках `numbers_1`, `numbers_2`, `numbers_3` та виведіть результат роботи фукнції на екран.

In [34]:
numbers_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers_2 = [-18, 35, 50, 2, -39, 8, -39, -15, 14, -42]
numbers_3 = [-3.1, 1.11, 3.48, 4.48, 4.68, -1.59, -1.8, 1.76, 4.7, 2.0]

In [35]:
def even_in_squered(number):
    even = []
    for i in number:
        if i % 2 == 0:
            even.append(i**2)
    return even

print(even_in_squered(numbers_1))
print(even_in_squered(numbers_2))
print(even_in_squered(numbers_3))

[4, 16, 36, 64, 100]
[324, 2500, 4, 64, 196, 1764]
[4.0]

Очікуваний результат:

```
    [4, 16, 36, 64, 100]
    [324, 2500, 4, 64, 196, 1764]
    [4.0]
```

4. Наданий список фруктів. Запишіть у новий список лише ті фрукти, які містять у своїй назві літеру `a`. Виведіть фінальний список на екран.

Виконайте завдання із використанням циклу, та через `list comprehension` - двома способами окремо.  
Увага! В цьому завданні логіку перевірки чи містить рядок літеру можна винести у функцію. Але якщо не виносити, то реалізація з `list comprehension` буде цікавішою :)

In [36]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "indian prune", "jackfruit", "kiwi", "lemon", "mango", "nectarine", "orange", "pineapple", "quince", "raspberry", "strawberry", "tangerine", "ugli fruit", "victoria plum", "watermelon", "xigua", "yellow passionfruit", "zucchini"]

In [37]:
fruits_with_a = [f for f in fruits if "a" in f ]
print(fruits_with_a)

['apple', 'banana', 'date', 'grape', 'indian prune', 'jackfruit', 'mango', 'nectarine', 'orange', 'pineapple', 'raspberry', 'strawberry', 'tangerine', 'victoria plum', 'watermelon', 'xigua', 'yellow passionfruit']

5.Заданий список чисел. Створіть новий список на основі заданоо за наступною логікою
- якщо число більше або дорівнює 45, то в новий список додаємо це число + 5. Наприклад, для числа 50 вихідного списку, в новий ми додамо число 55
- інакше - це число - 4. Наприклад, для числа 30 вихідного списку, в новий ми додамо число 26  

Виведіть отриманий список на екран.

Реалізуйте логіку через цикл та через `list comprehension` - двома способами окремо.

In [38]:
input_list = [22, 13, 45, 50, 98, 69, 43, 44, 1]

In [39]:
num_more_45_compr = [num + 5 if num >= 45 else num - 4 for num in input_list]
print(num_more_45_compr)

[18, 9, 50, 55, 103, 74, 39, 40, -3]

In [40]:
num_more_45 = []
for num in input_list:
    if num >= 45:
        num_more_45.append(num + 5)
    else:
        num_more_45.append(num - 4)
print(num_more_45)

[18, 9, 50, 55, 103, 74, 39, 40, -3]

6.Заданий список `input_list` з пропущеними значеннями. Напишіть логіку, за якою ми будемо створювати новий список такий, що якщо значення None, то ми замість нього вставляємо 0, інакше - елемент вихідного спику.
Тобто зі списку [1, None, 2] за цією логікою ми отримаємо [1, 0, 2] у новому списку.

Виведіть отриманий список на екран.

Реалізуйте логіку через цикл та через list comprehension - двома способами окремо.

In [41]:
input_list = [22, None, 13, None, None, 45, 50, 98, None, 69, 43, 44, 1, None]

In [44]:
new_list = [0 if x == None else x for x in input_list]
print(new_list)

[22, 0, 13, 0, 0, 45, 50, 98, 0, 69, 43, 44, 1, 0]

In [47]:
new_list_first = []
for x in input_list:
    if x == None:
        new_list_first.append(0)
    else:
        new_list_first.append(x)
print(new_list_first)

[22, 0, 13, 0, 0, 45, 50, 98, 0, 69, 43, 44, 1, 0]

7.Заданий клас, який описує коло та вміє рахувати площу кола по заданому радіусу. Створіть два кола з радіусами 5 і 11. Обчислість з допомогою функціоналу класу площі цих двох кіл і виведіть результати на екран.

In [48]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return round(math.pi * self.radius ** 2, 2)

In [49]:
circle_1 = Circle(5)
circle_2 = Circle(11)
print(circle_1.calculate_area())
print(circle_2.calculate_area())

78.54
380.13

8.Додайте в клас `Circle`, визначений в попередньому завданні, метод для обчислення периметра `calculate_perimeter` з округленням до двох цифр після коми. Периметр кола рахується за формулою `C = 2 · π · r`, де π - це значення числа Пі, яке ми можемо отримати з math.pi, а r - радіус кола. Спопіюйте визначення класу і додайте в нього новий метод. Після цього створіть нові кола з радіусами 5 і 11 та обчисліть їх периметри.   
Увага: нам треба додати новий метод, але ми нічого не видаляємо :)

In [57]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return round(math.pi * self.radius ** 2, 2)

    def calculate_perimeter(self):
        return round(2 * math.pi * self.radius, 2)

In [58]:
circle_3 = Circle(5)
circle_4 = Circle(11)
print(circle_3.calculate_perimeter())
print(circle_4.calculate_perimeter())

31.42
69.12

9.Створіть клас під назвою `Student`, який має два атрибути: `name` (ім'я) та `grade` (оцінка). Оцінкою може були літера - з набору  ["F", "D", "C", "B", "A"], де "А" - найвища оцінка, "F" - найнижча.  Клас повинен мати наступні функціональні можливості:

1. Метод `__init__`, який ініціалізує `name` та `grade`.
2. Метод `display_student()`, який відображає ім'я та оцінку студента з допомогою `print`. Форматування - на Ваш розсуд.
3. Метод `upgrade_grade()`, який підвищує оцінку на 1 рівень (наприклад, з "B" на "A"), якщо вона вже не "A". Якщо вже "А", то необхідно вивести повідомлення про те, що оцінка не може бути підвищена, оскільки вона вже і так найвища.

Після створення класу, створіть 2 екземпляри `Student` з вигаданими імʼями та оцінками, і перевірте роботу методів `display_student()` та `upgrade_grade()`. Виведіть результат перевірки на екран.

In [60]:
class Student:

    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def display_student(self):
        print(f'{self.name} має оцінку {self.grade}')

    def upgrade_grade(self):
        grades = ["F", "D", "C", "B", "A"]
        current_index = grades.index(self.grade)

        if current_index < len(grades) - 1:
            self.grade = grades[current_index + 1]
        else:
            print(f"Оцінка не може бути підвищена, оскільки вона вже і так найвища ({self.grade})")

In [61]:
student_1 = Student("Olha", "B")
student_2 = Student("lili", "A")
student_1.display_student()
student_2.display_student()
student_1.upgrade_grade()
student_2.upgrade_grade()
student_1.display_student()
student_2.display_student()

Olha має оцінку B
lili має оцінку A
Оцінка не може бути підвищена, оскільки вона вже і так найвища (A)
Olha має оцінку A
lili має оцінку A

10.Створіть клас з назвою `GraduateStudent`, який є нащадком класу `Student` з попереднього завдання.
Клас `GraduateStudent` повинен мати додатковий атрибут `thesis_title` (назва дисертації - тип str). Тобто цей атрибут має зʼявитись при ініціації екземпляру класу.  
Він також повинен мати метод `display_thesis()`, який виводить назву дисертації.

Після створення класу, створіть екземпляр `GraduateStudent` і перевірте роботу методів `display_student()`, `upgrade_grade()`, та `display_thesis()`. Виведіть результат перевірки на екран.

In [68]:
class GraduateStudent(Student):
  def __init__(self, name, grade, thesis_title):
    super().__init__(name, grade)
    self.thesis_title = thesis_title

  def display_thesis(self):
    print(f"Студент {self.name} має дисертацію {self.thesis_title}")

In [70]:
student_3 = GraduateStudent("Olga", 'B', "Python for daily life")
student_3.display_student()
student_3.upgrade_grade()
student_3.display_student()
student_3.display_thesis()

Olga має оцінку B
Olga має оцінку A
Студент Olga має дисертацію Python for daily life